
body {
  background: #e8e8e8;
}

  img{
    max-width: 200px;}


.head2 {
      background-color: #e8e8e8;
      padding-top: 15px;
      padding-bottom: 5px;
      font-family: 'Britanic Bold', sans-serif;
}
.neon {
  position: auto;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  color:#9ddfd3;
  text-shadow: 0 0 10px #A020F0;

}

.contacts {
      background-color: #9ddfd3;
      margin-top: 0;
      padding: 10px;

}

.knowledge{
      background-color: #e8e8e8;
      padding: 10px;

}

.aboutme{
  background-color: #9ddfd3;
  padding: 10px;

}

.unorder{
  width: 270px;
}
